@model ThirdPartyEventEditor.Models.ThirdPartyEvent

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<form asp-action="edit" method="post" asp-controller="home" asp-route-id="@Model.Id">
    <div class="form-horizontal">
        <h4>ThirdPartyEvent</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Name" value="@Model.Name" required maxlength="100" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="StartDate" value="@Model.StartDate" required />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="EndDate" value="@Model.EndDate" required />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Description" value="@Model.Description" required maxlength="250" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PosterImage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="PosterImage" accept="image/png" value="@Model.PosterImage" required />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LayoutName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="LayoutName" value="@Model.LayoutName" required maxlength="250" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.VenueName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="VenueName" value="@Model.VenueName" required maxlength="250" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
